<small class="unit-price price__box caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
  <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
  <span class="price-item price-item--last">
    <span class="price__prefix">À partir de </span>
    <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span><span aria-hidden="true">/</span
    ><span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
    ><span>
      {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
        {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
      {%- endif -%}
      {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
    </span>
  </span>
</small>
